Flask==2.3.3
Flask-Cors==4.0.0
pytest
Flask-SQLAlchemy==3.0.5
SQLAlchemy
openai
python-dotenv
PyMuPDF==1.23.8
python-docx==0.8.11
waitress
Flask-SocketIO==5.3.6
rq
redis==5.0.1
celery==5.3.4
anthropic==0.7.8 